---
layout: "base.njk"
---
{% for section in infos.Sections %}
<section>
    <h2>{{section.name}}</h2>
    <hr />
    {% for info in section.contents %}
    <section class="info">
        <h3>{{ info.title }}{% if info.link != null %}<a href="{{ info.link }}">&nearr;</a>{% endif %}</h3>
        <div>
            <p>{{ info.subtitle }}</p>
            <p>{{ info.start }}
                {% if not info.noend %}
                &mdash; {{ info.end | default: "Present"}}
                {% endif %}
            </p>
        </div>
        {% if info.desc != null %}
        <p class="info-desc">{{ info.desc }}</p>
        {% endif %}
    </section>
    {% endfor %}
</section>
{% endfor %}