<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/meyerweb_css_reset.css">
    <link rel="stylesheet" href="styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ross David B. Tan</title>
</head>

<body>
    <header>
        <hgroup>
            <h1>Ross David B. Tan</h1>
            <p>Software Engineer | Fullstack | QA Engineer | Data Analysis</p>
        </hgroup>
        <address>
            <a href="mailto:rdbt17+resume@gmail.com">rdbt17@gmail.com</a>
            <a href="tel:+639761157417">(+63)976 115 7417</a>
            <a href="https://github.com/KlassMagicker17" class="nobr">
                <img src="assets/GitHub_Invertocat_Black.svg" class="icon" />
                https://github.com/KlassMagicker17
            </a>
        </address>
        <hr />
    </header>
    <main>
        {{ content | safe}}
    </main>

</body>

</html>